/* #Color
   ======================================= */
$color-grey: #9C9C9C;
$color-grey-light: #E5E5E5;
$color-orange: #f3a654;
$color-black: #000000;
$color-black-light: #404040;
$color-white: white;
$color-black-light: #444953;

$color-gray: #5c5c5c;
$color-gray-light: #f7f7f7;

$color-pink: #F96768;

$section-content: 5rem 0  3rem 0;

$font-size-sm: 1.3rem;
$font-size-md: 1.6rem;
$font-size-lg: 1.8rem;
$font-size-title: 2.4rem;
$font-size-xsm: 1.1rem;


/* #Shadow
   ======================================= */

$box-shadow: 0 3px 6px rgba(0,0,0,0.16);
$box-shadow-hover: 1px 3px 6px rgba(0,0,0,0.3);