header {
	.logo {
		@extend .col-md-4;
		padding: 0;
		h1 {
			font-family: Sant-Bold;
			span {
				color: $color-pink;
			}
		}
	}
	ul {
		li {
			list-style: none;
			font-weight: 500;
			font-size: $font-size-sm;
			height: 100%;
			cursor: pointer;
			a {
				display: block;
				padding: 1.5rem 2rem;
			}
		}
	}
	.host--nav {
		display: flex;
		justify-content: space-between;
		flex-flow: wrap;
		align-items: center;
		height: 7rem;
		.nav__top {
			@extend .col-md-8;
			display: flex;
			justify-content: flex-end;

			ul {
				position: relative;
				padding: 0;
				li {
					display: inline-block;
					&:hover {
						ul {
							display: block;
						}
					}
					ul {
						text-align: center;
						display: none;
						position: absolute;
						right: 0;
						left: -1.5rem;
						border: 1px solid $color-grey;
						border-top: 0;
						background: $color-white;
						z-index: 2;
						width: 20rem;
						li {
							display: block;
							a {
								padding: 1rem 2rem;
								display: block;
								&:hover {
									color: $color-pink;
								}
							}
						}
					}
					img {
						border-radius: 50%;
						width: 30px;
						height: 30px;
						margin-right: .5rem;
						object-fit: cover;
					}
				}
			}
		}
	}
	
	.bg--nav {
		background: $color-black;
	}
	.nav__primary {
		@extend .container;
		ul {
			padding: 0;
			li {
				display: inline-block;
				a {
					color: $color-white;
					&:first-child {
						padding-left: 0;
					}
				}
			}
			.active {
				color: $color-pink;
			}
		}
	}
}